
        <form method="post" action="">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" placeholder="email@email.com" type="email" value="{{ datas.email }}">
            </div>
            <div class="form-group">
                <label for="email"> Email vérif</label>
                <input class="form-control" id="emailVerify" name="emailVerify" placeholder="test@test.com" type="email">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input class="form-control" id="password" name="password" placeholder="*****" type="password">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe vérif</label>
                <input class="form-control" id="passwordVerify" name="passwordVerify" placeholder="*****" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </form>
    </div>
